---
# Configuration for semantic-release

# Branch configuration
branches:
  # main branch for production releases
  - name: main
    channel: latest
  # rc branch for release candidates
  - name: rc
    channel: rc
    prerelease: rc
  # hotfix branch for urgent fixes
  - name: refactor/releases # TODO: This only for testing, change to "hotfix" when ready
    channel: hotfix

# Format for git tags
tagFormat: v${version}

# Plugins that control the release process
plugins:
  - - "@semantic-release/commit-analyzer"
    - preset: conventionalcommits
      releaseRules:
        - type: feat
          release: minor
        - type: fix
          release: patch
        - type: docs
          release: patch
        - type: style
          release: patch
        - type: refactor
          release: patch
        - type: test
          release: patch
        - type: build
          release: patch
        - type: ci
          release: patch
        - type: chore
          release: patch
        - breaking: true
          release: major

  - - "@semantic-release/release-notes-generator"
    - preset: conventionalcommits
      presetConfig:
        types:
          - type: feat
            section: Features
          - type: fix
            section: Bug Fixes
          - type: perf
            section: Performance Improvements
          - type: refactor
            section: Code Refactoring
          - type: docs
            section: Documentation
          - type: test
            section: Tests
          - type: build
            section: Build System
          - type: ci
            section: Continuous Integration
          - type: chore
            section: Miscellaneous
          - type: style
            section: Miscellaneous
