# local directories
NODE_1_DIR=/home/evgeni/Documents/BOTANIX/node1
NODE_2_DIR=/home/evgeni/Documents/BOTANIX/node2
JWT_DIR=/home/evgeni/Documents/BOTANIX/Macbeth/bin/test-suite/jwt

# bitcoind
BITCOIND_NETWORK=regtest
BITCOIND_URL=http://localhost:18443
BITCOIND_USER=evgeni
BITCOIND_PWD=jhtGscpII38P1pLRFDDYqkEmiO8s0mEkbJk_F3BtYIo