# local directories
NODE_1_DIR=/home/evgeni/Documents/BOTANIX/node1
NODE_2_DIR=/home/evgeni/Documents/BOTANIX/node2
NON_FED_1_DIR=/home/evgeni/Documents/BOTANIX/non_fed_1
JWT_DIR=/home/evgeni/Documents/BOTANIX/Macbeth/bin/test-suite/jwt

# bitcoind
BITCOIND_NETWORK=regtest
BITCOIND_URL=http://localhost:18443
BITCOIND_USER=foo
BITCOIND_PWD=bar

# trusted peers (federation nodes)
TRUSTED_PEER_1=enode://abc@127.0.0.1:30303
TRUSTED_PEER_2=enode://def@127.0.0.1:30304